<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
</head>
<body>
    <H1>HALO , FLASK!</H1>
    <h2>THAT IS BUILD WITH FLASK-RESTFUL</h2>
    <h3>HERE IS THE ENTRY POINT PAGE</h3>
    <h4>IT WILL BE A SPA</h4>
</body>
</html>
post('http://localhost:5000/user',data={'rdName': '张三', 'rdSex': '男', 'rdType': 20, 'rdDept': '计算机科学学院', 'rdPhone': '13677277721', 'rdEmail': 'ghoulcn@vip.qq.com', 'rdStatus': 1, 'rdAdminRoles': 8,'rdPwd':'123456'}).
json()
post('http://localhost:5000/book/', data={'bkCode': 'bk2018001','bkName': 'Python漫游指南','bkAuthor': 'Kenneth Reitz,Tanya Schlusser','bkPress': '东南大学出版社','bkDatePress': '2
017-10-1','bkISBN': '978-7-5641-7374','bkCatalog': 'TP311', 'bkLanguage': 1, 'bkPages': 311, 'bkPrice': 88.00,'bkBrief': '本书给出了来自Python社区的最佳时间和首选工具的内行指南.','bkSt
atus': 1,}).json()
